li {
    margin: 0;
    padding: 0
}

.header {
    background-color: #2dc108;
    color: #0a0a0a;
    height: 110px;
    padding: 40px;
    margin: 0;
}

.header-logo {
    font-size: 50px;
    float: left;
    padding: 30px 50px;
}


.header-list {
    float: right;
    padding: 35px 25px;
}

.footer {
    background-color: #2dc108;
    color: #0a0a0a;
    height: 110px;
    padding: 40px;
}

.footer-logo {
    font-size: 32px;
    float: left;
}

.footer-list {
    float: right;
}

.footer-list li {
    padding-bottom: 20px;
}

.copy-container {
    color: rgb(130, 78, 5);
}

form {
    width:500px;
    margin:50px auto;
   
}
.search {
    padding:8px 15px;
    background: #d1d5d1;
    border:0px solid #dbdbdb;
}
.button {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #d3d8d3;
    background-color:#0c1710;
    color:#fafafa;
}
.button:hover  {
    background-color:#fafafa;
    color:#20a009;
}
body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
